<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <form action="/login" method="post">
    <label for="name">username : </label>
    <input type="text" name="name" id="name" placeholder="enter the user name" value="">
    <label for="password">password :</label>
    <input type="text" name="password" id="password" placeholder="enter the password" value=""><br>
    <button type="submit" style="text-align: center;">login</button>
   </form>
</body>
</html>